<h1><%= @mailout.subject %></h1>

<%= simple_format @mailout.body %>

<% if @mailout.mailgun_id.present? %>
  This email has been sent
<% else %>
  <%= form_for [@group, @mailout], url: send_email_group_mailout_path(@group, @mailout) do |form| %>
    <%= form.submit "Send to #{@group.group_memberships.count} people" %>
  <% end %>
<% end %>
