<div class="jumbotron">
  <h1>Membership</h1>
  <p>Software to help members run membership organisations</p>
</div>

<h2>Create your organisation:</h2>

<%= bootstrap_form_for @organisation do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :subdomain %>
  <%= form.submit %>
<% end %>
