<h2>Your groups</h2>
<% @user_groups.each do |group| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to group.name, group_path(group) %></h3>
    </div>
    <div class="panel-body">
      <%= group.description %>
    </div>
  </div>
<% end %>

<h2>Other groups</h2>
<% @groups.each do |group| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to group.name, group_path(group) %></h3>
    </div>
    <div class="panel-body">
      <%= group.description %>
    </div>
  </div>
<% end %>
