<h1>Welcome <%= current_user.email %></h1>
<p>
  You are now the admin of <%= @organisation.name %>. How would you like the
  organisation to be setup?
</p>

<h2>Add your members</h2>

<p><%= link_to "Share this link to allow members to join", user_registration_path %></p>

<h2>Create a group</h2>

<p><%= link_to "View your members", members_path %></p>
